<div class="msg mrg_msg1 mt10 c_brown4">
    <div class="wr_bg">
        <div class="wr_c1">
            <div class="wr_c2">
                <div class="wr_c3">
                    <div class="wr_c4">
                        <div class="left font_14 pet_profile_stat">
                            {{# attackLog }}
                            <div class="stat_item">{{ . }}</div>
                            {{/ attackLog }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

