<div class="marea mt5">
    <div class="wr_bg">
        <div class="wr_c1">
            <div class="wr_c2">
                <div class="wr_c3">
                    <div class="wr_c4">
                        <div class="mbtn">
                            <div class="mb_r">
                                <div class="mb_c">{{ message }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
