<div class="msg mrg_msg1 mt10 c_brown4">
    <div class="wr_bg"><div class="wr_c1"><div class="wr_c2"><div class="wr_c3"><div class="wr_c4">
        <table class="pet_profile">
            <tr>
                <td>
                    <div class="left font_14 pet_profile_stat">
                        <div class="stat_item"><img class="price_img" src="/view/image/ava1_mini.png" />{{ opponent.getUsername }}</div>
                        <div class="stat_item"><img class="price_img" src="/view/image/expirience.png" />{{ opponent.getAttackDamage }}</div>
                        <div class="stat_item"><img class="price_img" src="/view/image/heart.png" />
                            {{ opponent.getHealthPointsLeft }} / {{ opponent.getHealthPoints }}
                        </div>
                    </div>
                </td>
                <td>
                    <img class="ava_prof" src="/view/image/ava1.png" />
                </td>
            </tr>
        </table>
    </div></div></div></div></div>
</div>
