{{#layout}}
				<div class="msg mrg_msg1 mt5 c_brown4">
				<div class="wr_bg"><div class="wr_c1"><div class="wr_c2"><div class="wr_c3"><div class="wr_c4 font_14">
						<form action="http://mpets.mobi/login" method="POST">
							<div class="mb3">Имя</div>
							<input class="login_input mb10" type="text" name="name" value=""><br>
							<div class="mb3">Пароль</div>
							<input class="login_input" type="password" name="password"><br>
							<div class="c_red mt5 mb5">
																							</div>
							<div class="bbtn_sm mt3 mb10"><div class="br">
								<input style="width: 72px" type="submit" value="Войти">
							</div></div>
						</form>
				</div></div></div></div></div>
			</div>
{{/layout}}
{{>layout}}